@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  @include full-height;
}

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
}

.switch {
  text-align: center;
  cursor: pointer;
}

.choice1 {
  font-size: 50px;
}

ul li {
  list-style-type: none;
  padding: 5px;
}

.routes {
  display: flex;
}

.input {
  border: 1px solid black;
}

.input:active,
.input:focus {
  outline: none;
}

.input:active {
  background-color: red;
  box-shadow: 5px 5px blue;
  transform: translate(4px);
}

.button {
  border: 1px solid black;
}

.button:active,
.button:focus {
  outline: none;
}

.button:active {
  background-color: white;
  box-shadow: 5px 5px #666;
  // transform: translate3d(5px);
  transform: translateY(4px);
  transform: translateX(4px);
}
